.form {
	position: relative;
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	row-gap: 16px;
}

.form__input {
	box-sizing: border-box;
	border-radius: 16px;
	width: 224px;
	height: 44px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 16px;
}

.form__input:focus {
	outline: none;
	border: 1px solid #2ac790;
}
.form__input::placeholder {
	font-size: 16px;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.5);
}
.form__inputInValid {
	box-sizing: border-box;
	border-radius: 16px;
	width: 224px;
	height: 44px;
	border: 1px solid rgba(255, 0, 0, 1);
	padding: 16px;
}

.form__inputInValid::placeholder {
	font-size: 16px;
	line-height: 1.5;
	color: rgba(0, 0, 0, 0.5);
}

.form__btn {
	cursor: pointer;
	border: none;
	border-radius: 16px;
	width: 224px;
	height: 44px;
	background-color: #50daa8;
	color: #fff;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 500;
}
.form__btn:focus {
	outline: none;
}

.form__btn:hover {
	background-color: #3d9274;
}
.errorInput,
.errorInputNumb {
	position: absolute;
	color: #e43f3f;
	font-size: 12px;
	top: 45px;
	left: 40px;
}
.errorInputNumb {
	top: 104px;
}

@media (min-width: 1440px) {
	.form {
		margin-top: 40px;
	}
	.form__input {
		width: 288px;
		height: 56px;
	}
	.form__btn {
		margin-top: 16px;
		width: 288px;
		height: 56px;
	}
	.errorInput {
		top: 58px;
		left: 46px;
	}
	.errorInputNumb {
		top: 130px;
		left: 46px;
	}
	.form__inputInValid {
		width: 288px;
		height: 56px;
	}
}
