* {
	margin: 0;
}
.gallary__modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
}
.wrap__img {
	position: absolute;
	margin: 0 auto;
	width: 70%;
	height: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wrap__img img {
	width: 100%;
	display: block;
	height: auto;
}
.close {
	text-align: right;
	font-size: 48px;
	color: #ffffff;
	cursor: pointer;
}
